html,
body {
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-width:fit-content;
  background-image: linear-gradient(
    131deg,
    #effcff 12%,
    #ffffff 54%,
    #ffffff 56%,
    #ffe8f4 100%
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh; /* Ensure the app content covers at least the viewport height */
}
#app {
  min-height: 100vh; /* Ensure the app div covers at least the viewport height */
}
